<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <appender name="otel" class="io.opentelemetry.instrumentation.logback.mdc.v1_0.OpenTelemetryAppender">
        <traceIdKey>trace.id</traceIdKey>
    </appender>

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="otel"/>
    </root>
</configuration>
